:root {
	/* Define CSS variables for consistent theming and easy changes */
	--background-color-sidebar: #f8f9fa;
	--background-color-filter-icon: #ddd;
	--background-color-listing-card: #fff;
	--background-color-footer: #555;
	--color-footer-text: #fff;
	--sticky-z-index: 1020;
	--navbar-height: 56px;
	--footer-height: 50px;
}

/* Make the root flex container fill at least the entire height of the viewport */
html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden; /* Prevents scrolling on the body itself */
}

body {
	display: flex;
	flex-direction: column;
}

.container-fluid {
	display: flex;
	flex-grow: 1; /* Allows the container to fill available space */
	overflow: hidden; /* Prevents overflow outside this container */
}

.row {
	height: calc(
		100vh - var(--navbar-height)
	); /* Adjusts to take full height minus navbar */
	overflow: hidden; /* Optional: Prevents overflow if not necessary */
}

.scrollable-section {
	overflow-y: auto; /* Enables scrolling within each section */
	height: 100%; /* Full height of parent */
}

.scrollable-list {
	overflow-y: auto; /* Enables scrolling */
	height: calc(100% - 120px); /* Adjust height to account for the header */
	padding-top: 10px;
}

.navbar {
	height: var(--navbar-height);
	flex-shrink: 0;
}

/* Sidebar for filters */
.filter-sidebar {
	background-color: var(--background-color-sidebar);
	padding: 20px;
	flex-basis: 25%; /* Adjust width */
}

/* Filter icons within the sidebar */
.filter-icon,
.filter-item {
	padding: 10px;
	margin: 5px;
	border-radius: 50%; /* Circular shape */
	background-color: var(--background-color-filter-icon);
	display: inline-block;
	cursor: pointer; /* Indicates items are interactive */
}

.fixed-header {
	background: white;
	padding: 10px 15px; /* Provides some spacing */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
	z-index: 10; /* Keeps it above the scrollable content */
}

.listing-section,
.add-cafe-form-section {
	position: relative; /* Ensures positioning context */
	height: 100%; /* Full height of the parent container */
}

/* Cards for individual listings */
.listing-card {
	display: flex;
	align-items: center;
	margin-bottom: 15px; /* Adjust spacing between cards */
	padding: 15px;
	background-color: var(--background-color-listing-card);
	border: 1px solid #ddd;
	border-radius: 5px; /* Rounded corners for the card */
}

.listing-card img {
	width: 200px; /* Fixed width for images */
	height: 110px; /* Fixed height for images */
	object-fit: cover; /* Cover the area, maintain aspect ratio without stretching */
	border-radius: 0.25rem; /* Optional: to round the corners of the image */
	margin-right: 15px; /* Space between image and text */
}

/* Map container styles */
.map-container {
	flex-basis: auto; /* Adjust width */
}

/* Always set the map height explicitly to define the size of the div
   element that contains the map. */
gmp-map,
#gmp-map {
	height: 100%;
}

.sb-title {
	position: relative;
	top: -12px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
}

.sb-title-icon {
	position: relative;
	top: -5px;
}

.card-container {
	display: flex;
	height: 500px;
	width: 600px;
}

.card-body {
	padding: 100px;
}

.panel {
	background: white;
}

.half-input-container {
	display: flex;
}

.boolean-input-container {
	display: flex;
	justify-content: space-between;
}

.half-input {
	max-width: 160px;
}

.map {
	width: 300px;
}

h2 {
	margin: 0;
	font-family: Roboto, sans-serif;
}

input {
	border: 0;
	border-bottom: 1px solid black;
	font-size: 14px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
}

input:focus::placeholder {
	color: white;
}

.button-cta {
	align-self: start;
	background-color: #1976d2;
	border: 0;
	border-radius: 21px;
	color: white;
	cursor: pointer;
	font-family: 'Google Sans Text', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 27px;
	padding: 3.5px 10.5px;
}

/* Footer with sticky positioning */
.sticky-footer {
	height: var(--footer-height);
	flex-shrink: 0;
	position: sticky;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: var(--background-color-footer);
	color: var(--color-footer-text);
	z-index: var(--sticky-z-index);
}

/* Adjustments for smaller screens */
@media screen and (max-width: 767px) {
	.container-fluid.px-0 {
		flex-direction: column;
	}
}
